.kss-modifier__example {
  padding-top: 1rem;
  border:none;
  padding-bottom: 0;
}

.kss-modifier__defaultinsertmarkuptext{
  visibility: hidden;
}
.kss-modifier__insertmarkuptext{
  display: none;
}

.kss-modifier__header{
  border-top: 1px solid #dae1e7;
  padding-top: 1rem;

}
