@charset "utf-8";
.l-header {
    position: fixed;
    width: 100%;
    background-color: $color_white;
    z-index: 1000;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 26px;
        padding-right: 24px;
        padding-bottom: 26px;
        padding-left: 24px;

        @include sp {
            padding-top: 19px;
            padding-bottom: 18px;
            padding-left: 30px;
        }
    }

    &__logo {
        width: 295px;
        max-height: 48px;

        & a {
            display: block;

            @include sp {
                display: inline-block;
            }

            &:hover {
                color: $color_white;
                opacity: 1;
            }

            img {
                @include sp {
                    max-width: 100%;
                }
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;

        &.is-active {
            opacity: 0;
            visibility: hidden;
            transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
        }

        @include pc-tab {
            display: none;
        }

        @include sp {
            display: none;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__item {
        & a {
            padding: 15px 20px;
            font-size: 1.6rem;
            font-weight: 700;
            color: $color_txt;
            transition: all 0.5s;

            &:hover {
                color: $color_primary;
                opacity: 1;
            }
        }
    }

    &__contact {
        margin-left: 20px;

        & a {
            display: inline-block;
            padding-top: 11px;
            padding-right: 26px;
            padding-bottom: 13px;
            padding-left: 26px;
            border: 2px solid $color_primary;
            border-radius: 24px;
            font-size: 1.6em;
            font-weight: 700;
            background: $color_primary;
            color: $color_white;
            transition: 0.5s;

            &:hover {
                border-color: $color_primary;
                background-color: $color_white;
                color: $color_primary;
                opacity: 1;
            }
        }
    }

    &__hamburger {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        z-index: 100;

        &.is-active {
            opacity: 1;
            visibility: inherit;
        }

        &Logo {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 15px;
            padding-left: 30px;
            z-index: 10000;
        }

        &Inner {
            position: relative;
            width: 100%;
            height: 100vh;
            margin-right: auto;
            margin-left: auto;
            padding-top: 175px;
            background-color: #004bb1;

            @include sp {
                padding-top: 105px;
                padding-right: 60px;
                padding-left: 60px;
            }
        }

        &List {
            max-width: 500px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }

        &Item {
            &:not(:first-child) {
                margin-top: 20px;
            }

            & a {
                font-size: 1.8rem;
                font-weight: 700;
                color: $color_white;

                &:hover {
                    opacity: 0.7;
                    transition: 0.5s;
                }
            }

            &:last-child {
                margin-top: 30px;

                & a {
                    display: inline-block;
                    padding-top: 11px;
                    padding-right: 79px;
                    padding-bottom: 13px;
                    padding-left: 80px;
                    border: 2px solid $color_white;
                    border-radius: 24px;

                    @include sp {
                        padding-right: 60px;
                        padding-left: 60px;
                        font-size: 1.6rem;
                    }

                    &:hover {
                        background-color: $color_white;
                        color: $color_primary;
                        box-sizing: border-box;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__trigger {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;

        @include pc-tab {
            visibility: inherit;
            opacity: 1;
        }

        @include sp {
            visibility: inherit;
            opacity: 1;
        }

        &.is-active {
            visibility: inherit;
            opacity: 1;
        }

        &Btn {
            display: table-cell;
            position: relative;
            width: 80px;
            height: 80px;
            margin-right: 20px;
            margin-top: 11px;
            margin-bottom: 9px;
            padding-top: 24px;
            padding-right: 25px;
            padding-bottom: 35px;
            padding-left: 25px;
            border-color: transparent;
            border-radius: 40px;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: #004bb1;
            text-align: center;
            vertical-align: middle;
            // transition: all 0.4s ease-in-out;
            line-height: 1.5;

            @include sp {
                width: 60px;
                height: 60px;
                margin-top: 6px;
                margin-right: 0;
                margin-bottom: 0;
                padding: 0;
                background-color: transparent;
            }
        }

        &Line {
            display: block;
            position: absolute;
            top: 30px;
            left: 50%;
            width: 30px;
            height: 2px;
            background-color: $color_white;
            transform: translateX(-50%);
            transition: 0.4s;

            @include sp {
                top: 25px;
                width: 20px;
                background-color: $color_primary;
            }

            &.is-active {
                background-color: transparent;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: -6px;
                width: 100%;
                height: 100%;
                background-color: $color_white;
                transition: inherit;

                @include sp {
                    background-color: $color_primary;
                }
            }

            &.is-active::before {
                top: 0;
                transform: rotate(45deg);

                @include sp {
                    background-color: $color_white;
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 6px;
                width: 100%;
                height: 100%;
                background-color: $color_white;
                transition: inherit;

                @include sp {
                    background-color: $color_primary;
                }
            }

            &.is-active::after {
                top: 0;
                transform: rotate(-45deg);

                @include sp {
                    background-color: $color_white;
                }
            }
        }

        &Text {
            position: absolute;
            bottom: 15px;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);

            @include sp {
                bottom: 5px;
            }

            &::before {
                content: "MENU";
                font-family: $font-family-txt;
                font-size: 1rem;
                font-weight: 700;
                color: $color_white;
                letter-spacing: 0.02em;
                text-align: center;

                @include sp {
                    color: $color_primary;
                }
            }

            &.is-active::before {
                content: "CLOSE";

                @include sp {
                    color: $color_white;
                }
            }
        }
    }
}
