<% var meta={ pageTitle:'株式会社FLAT', description:'東京のフロントエンド専門のWeb制作会社', <!-- keywords:'foo', -->
    }; var page={ root:filePath.dir }; %> <%- include(page.root + 'common/_meta' , {param:'param'}); %>
        <%- include(page.root + 'common/_header' , {param:'param'}); %>
            <main id="mv">
                <div class="p-top">
                    <div class="p-top__inner">
                        <div class="p-top__visual"></div>
                    </div>
                </div>
            </main>
            <section>
                <div class="p-top">
                    <div class="p-top__inner">
                        <div class="p-top__visual"></div>
                    </div>
                </div>
                <div class="p-top">
                    <div class="p-top__inner">
                        <div class="p-top__visual"></div>
                    </div>
                </div>
                <div class="p-top">
                    <div class="p-top__inner">
                        <div class="p-top__visual"></div>
                    </div>
                </div>
                <div class="p-top">
                    <div class="p-top__inner">
                        <div class="p-top__visual"></div>
                    </div>
                </div>
            </section>
            <%- include(page.root + 'common/_footer' , {param:'param'}); %>