<% var meta={ pageTitle:'株式会社FLAT', description:'東京のフロントエンド専門のWeb制作会社', <!-- keywords:'foo', -->
    }; var page={ root:filePath.dir }; %> <%- include(page.root + 'common/_meta' , {param:'param'}); %>
        <%- include(page.root + 'common/_header' , {param:'param'}); %>
            <main class="l-main">
                <div class="c-block">
                    <div class="c-block__inner">
                        <div class="c-block__visual c-block__visual--bg01"></div>
                    </div>
                </div>
                <div class="c-block">
                    <div class="c-block__inner">
                        <div class="c-block__visual c-block__visual--bg02"></div>
                    </div>
                </div>
                <div class="c-block">
                    <div class="c-block__inner">
                        <div class="c-block__visual c-block__visual--bg03"></div>
                    </div>
                </div>
                <div class="c-block">
                    <div class="c-block__inner">
                        <div class="c-block__visual c-block__visual--bg04""></div>
                    </div>
                </div>
            </main>
            <%- include(page.root + 'common/_footer' , {param:'param'}); %>