<body id="top">
    <header class="l-header js-header">
        <div class="l-header__inner">
            <div class="l-header__logo">
                <a href="/">
                    <picture>
                        <source media="(max-width: 767px)" srcset="/assets/img/common/logo-sp.svg">
                        <img src="/assets/img/common/logo.svg" alt=" 株式会社FLAT">
                    </picture>
                </a>
            </div>
            <div class="l-header__menu">
                <nav class="l-header__gnav">
                    <ul class="l-header__list">
                        <li class="l-header__item">
                            <a href="/company/">会社紹介</a>
                        </li>
                        <li class="l-header__item">
                            <a href="/news/">お知らせ</a>
                        </li>
                        <li class="l-header__item">
                            <a href="/service/">サービス</a>
                        </li>
                        <li class="l-header__item">
                            <a href="/work/">制作実績</a>
                        </li>
                        <li class="l-header__item">
                            <a href="/recruit/">採用情報</a>
                        </li>
                    </ul>
                </nav>
                <div class="l-header__contact">
                    <a href="/contact/">お問い合わせ</a>
                </div>
            </div>
            <div class="l-header__hamburger js-hamburger">
                <a href="/" class="l-header__hamburgerLogo">
                    <picture>
                        <source media="(max-width: 767px)" srcset="/assets/img/common/logo-white-sp.svg">
                        <img src="/assets/img/common/logo-white.svg" alt="株式会社FLAT">
                    </picture>
                </a>
                <div class="l-header__hamburgerInner">
                    <div class="l-header__hamburgerMenu">
                        <ul class="l-header__hamburgerList">
                            <li class="l-header__hamburgerItem">
                                <a href="/company/">会社紹介</a>
                            </li>
                            <li class="l-header__hamburgerItem">
                                <a href="/news/">お知らせ</a>
                            </li>
                            <li class="l-header__hamburgerItem">
                                <a href="/service/">サービス</a>
                            </li>
                            <li class="l-header__hamburgerItem">
                                <a href="/work/">制作実績</a>
                            </li>
                            <li class="l-header__hamburgerItem">
                                <a href="/recruit/">採用情報</a>
                            </li>
                            <li class="l-header__hamburgerItem">
                                <a href="/contact/">お問い合わせ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="l-header__trigger">
                <button class="l-header__triggerBtn js-trigger-btn" aria-controls="navigation" aria-expanded="false">
                    <span class="l-header__triggerLine"></span>
                    <span class="l-header__triggerText"></span>
                </button>
            </div>
        </div>
    </header>